# Data Loading & Overview

In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("C:/Users/sajja/Downloads/Walmart_Sales/data/processed/feature_engineered_sales.csv", parse_dates=['date'])
df.head()

,store,date,weekly_sales,holiday_flag,temperature,fuel_price,cpi,unemployment,year,month,...,sales_roll_13,sales_roll_26,sales_roll_52,cumulative_sales,sales_diff_1,sales_diff_4,avg_sales_per_store,promo_last_week,promo_next_week,store_encoded
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,2010,5,...,0.0,0.0,0.0,1643690.90,0.00,0.00,1601845.141,0,0,0
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,2010,12,...,0.0,0.0,0.0,3285648.34,-1733.46,0.00,1601845.141,0,0,0
2,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,2010,5,...,0.0,0.0,0.0,4840455.02,-87150.76,0.00,1601845.141,0,0,0
3,1,2010-03-12,1439541.59,0,57.79,2.667,211.380643,8.106,2010,12,...,0.0,0.0,0.0,6279996.61,-115265.09,0.00,1601845.141,0,0,0
4,1,2010-04-02,1594968.28,0,62.27,2.719,210.820450,7.808,2010,2,...,0.0,0.0,0.0,7874964.89,155426.69,-48722.62,1601845.141,0,0,0

In [40]:
df.info()
df.describe(include='all')
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2565 entries, 0 to 2564
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   store                2565 non-null   int64
 1   date                 2565 non-null   datetime64[ns]
 2   weekly_sales         2565 non-null   float64
 3   holiday_flag         2565 non-null   int64
 4   temperature          2565 non-null   float64
 5   fuel_price           2565 non-null   float64
 6   cpi                  2565 non-null   float64
 7   unemployment         2565 non-null   float64
 8   year                 2565 non-null   int64
 9   month                2565 non-null   int64
 10  day                  2565 non-null   int64
 11  weekday              2565 non-null   int64
 12  is_weekend           2565 non-null   bool
 13  is_holiday           2565 non-null   int64
 14  holiday_name         180 non-null    object
 15  store_name           2565 non-null   object
 16  lag_1                2565 non-null   float64
 17  lag_2                2565 non-null   float64
 18  lag_4                2565 non-null   float64
 19  lag_13               2565 non-null   float64
 20  lag_26               2565 non-null   float64
 21  lag_52               2565 non-null   float64
 22  sales_roll_4         2565 non-null   float64
 23  sales_roll_13        2565 non-null   float64
 24  sales_roll_26        2565 non-null   float64
 25  sales_roll_52        2565 non-null   float64
 26  cumulative_sales     2565 non-null   float64
 27  sales_diff_1         2565 non-null   float64
 28  sales_diff_4         2565 non-null   float64
 29  avg_sales_per_store  2565 non-null   float64
 30  promo_last_week      2565 non-null   int64
 31  promo_next_week      2565 non-null   int64
 32  store_encoded        2565 non-null   int64
dtypes: bool(1), datetime64[ns](1), float64(19), int64(10), object(2)
memory usage: 643.9+ KB

store                     0
date                      0
weekly_sales              0
holiday_flag              0
temperature               0
fuel_price                0
cpi                       0
unemployment              0
year                      0
month                     0
day                       0
weekday                   0
is_weekend                0
is_holiday                0
holiday_name           2385
store_name                0
lag_1                     0
lag_2                     0
lag_4                     0
lag_13                    0
lag_26                    0
lag_52                    0
sales_roll_4              0
sales_roll_13             0
sales_roll_26             0
sales_roll_52             0
cumulative_sales          0
sales_diff_1              0
sales_diff_4              0
avg_sales_per_store       0
promo_last_week           0
promo_next_week           0
store_encoded             0
dtype: int64

# Numerical Analysis

In [41]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
store,2565.0,23.0,1.0,12.0,23.0,34.0,45.0,12.989706
date,2565,2011-05-27 08:50:31.578947328,2010-02-05 00:00:00,2010-10-01 00:00:00,2011-06-03 00:00:00,2012-02-03 00:00:00,2012-10-12 00:00:00,NaN
weekly_sales,2565.0,1059871.952441,209986.25,570069.48,981345.2,1450733.29,2752122.08,557383.102302
holiday_flag,2565.0,0.105263,0.0,0.0,0.0,0.0,1.0,0.306952
temperature,2565.0,59.585864,-2.06,45.26,61.1,74.57,100.07,19.069276
fuel_price,2565.0,3.329579,2.513,2.868,3.417,3.702,4.468,0.461985
cpi,2565.0,171.386349,126.085452,131.586613,182.598306,212.512605,227.169392,39.293112
unemployment,2565.0,8.022267,3.879,6.908,7.907,8.622,14.313,1.878158
year,2565.0,2010.929825,2010.0,2010.0,2011.0,2012.0,2012.0,0.791769
month,2565.0,6.561404,1.0,4.0,6.0,10.0,12.0,3.459797
day,2565.0,6.491228,1.0,4.0,6.0,9.0,12.0,3.256522
weekday,2565.0,2.929825,0.0,1.0,3.0,5.0,6.0,2.101868
is_holiday,2565.0,0.070175,0.0,0.0,0.0,0.0,1.0,0.255492
lag_1,2565.0,1041888.126222,0.0,553836.98,970328.68,1443285.79,2752122.08,570279.691108
lag_2,2565.0,1023343.627466,0.0,537518.57,957155.31,1439034.86,2752122.08,581962.575245
lag_4,2565.0,986020.621481,0.0,511207.52,938914.28,1422546.05,2752122.08,602975.08631
lag_13,2565.0,815039.871068,0.0,286857.13,712425.76,1324455.72,2752122.08,660198.826215
lag_26,2565.0,571528.077571,0.0,0.0,361181.48,1037549.71,2752122.08,664046.762145
lag_52,2565.0,94077.238285,0.0,0.0,0.0,0.0,2623469.95,348134.249173
sales_roll_4,2565.0,985400.744761,0.0,522481.725,943347.3125,1421845.443,2385063.793,597426.536889
sales_roll_13,2565.0,815578.530973,0.0,286331.5338,716260.8685,1349716.422,2264026.395,654878.756062
sales_roll_26,2565.0,572836.958708,0.0,0.0,372509.6973,1027896.142,2202339.738,661333.761461
sales_roll_52,2565.0,92974.84143,0.0,0.0,0.0,0.0,2171643.502,341032.312621
cumulative_sales,2565.0,30644062.785185,274593.43,11326995.21,23406251.4,44198395.6,123654115.5,25206139.799294
sales_diff_1,2565.0,-1412.173977,-919251.11,-36339.21,772.37,43901.05,611383.4,116460.799058
sales_diff_4,2565.0,-567.493579,-608697.47,-56927.88,0.0,46759.9,692514.31,129175.701009
avg_sales_per_store,2565.0,1059871.952404,267338.9674,567398.7558,1004469.46,1434570.286,2169370.448,548015.573573
promo_last_week,2565.0,0.070175,0.0,0.0,0.0,0.0,1.0,0.255492
promo_next_week,2565.0,0.070175,0.0,0.0,0.0,0.0,1.0,0.255492
store_encoded,2565.0,22.0,0.0,11.0,22.0,33.0,44.0,12.989706

## Skewness

In [42]:
df.select_dtypes(include='number').skew().sort_values(ascending=False)

lag_52                 4.175292
sales_roll_52          4.068930
promo_last_week        3.367303
promo_next_week        3.367303
is_holiday             3.367303
holiday_flag           2.573984
unemployment           1.202300
cumulative_sales       1.152616
lag_26                 0.892828
sales_roll_26          0.853635
weekly_sales           0.487995
lag_13                 0.441819
lag_1                  0.434440
avg_sales_per_store    0.424673
lag_2                  0.396562
sales_roll_13          0.396422
lag_4                  0.355740
sales_roll_4           0.314213
sales_diff_4           0.233120
year                   0.125252
day                    0.064478
cpi                    0.063058
month                  0.015787
store_encoded          0.000000
store                  0.000000
weekday               -0.032131
fuel_price            -0.071055
temperature           -0.260733
sales_diff_1          -1.370188
dtype: float64

In [43]:
import numpy as np

# Apply log1p where appropriate
df['lag_52'] = np.log1p(df['lag_52'])
df['sales_roll_52'] = np.log1p(df['sales_roll_52'])

# For positively skewed difference
df['sales_diff_1'] = np.log1p(df['sales_diff_1'])

# For negatively skewed variable (only if values ≤ 0)
if (df['cumulative_sales'] <= 0).all():
    df['cumulative_sales'] = -np.log1p(-df['cumulative_sales'])
else:
    # Else, apply Min-Max Scaling instead
    from sklearn.preprocessing import MinMaxScaler
    scaler = MinMaxScaler()
    df['cumulative_sales'] = scaler.fit_transform(df[['cumulative_sales']])

c:\Users\sajja\Downloads\Walmart_Sales\venv\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [44]:
import numpy as np

# Fix right-skewed continuous features
df['lag_52'] = np.log1p(df['lag_52'])
df['sales_roll_52'] = np.log1p(df['sales_roll_52'])

# Fix left-skewed if all values are ≤ 0 (check this!)
if (df['cumulative_sales'] <= 0).all():
    df['cumulative_sales'] = -np.log1p(-df['cumulative_sales'])

In [45]:
df.select_dtypes(include='number').skew().sort_values(ascending=False)

is_holiday             3.367303
promo_next_week        3.367303
promo_last_week        3.367303
lag_52                 2.917824
sales_roll_52          2.917765
holiday_flag           2.573984
unemployment           1.202300
cumulative_sales       1.152616
lag_26                 0.892828
sales_roll_26          0.853635
weekly_sales           0.487995
lag_13                 0.441819
lag_1                  0.434440
avg_sales_per_store    0.424673
lag_2                  0.396562
sales_roll_13          0.396422
lag_4                  0.355740
sales_roll_4           0.314213
sales_diff_4           0.233120
year                   0.125252
day                    0.064478
cpi                    0.063058
month                  0.015787
store_encoded          0.000000
store                  0.000000
weekday               -0.032131
fuel_price            -0.071055
temperature           -0.260733
sales_diff_1          -2.903346
dtype: float64

## Kurtosis

In [46]:
df.select_dtypes(include='number').kurtosis().sort_values(ascending=False)

sales_diff_1           10.142425
promo_last_week         9.346018
promo_next_week         9.346018
is_holiday              9.346018
lag_52                  6.521828
sales_roll_52           6.521347
holiday_flag            4.629004
sales_diff_4            4.335384
unemployment            2.667348
cumulative_sales        0.862153
lag_26                 -0.353052
sales_roll_26          -0.496740
lag_4                  -0.690018
lag_2                  -0.691124
lag_1                  -0.707295
temperature            -0.732725
weekly_sales           -0.742206
lag_13                 -0.782694
sales_roll_4           -0.783067
sales_roll_13          -0.893264
avg_sales_per_store    -0.921266
day                    -1.176090
store                  -1.201188
store_encoded          -1.201188
fuel_price             -1.204003
month                  -1.254100
weekday                -1.327207
year                   -1.394888
cpi                    -1.841544
dtype: float64

In [47]:
columns_to_transform = ['lag_52', 'sales_roll_52', 'sales_diff_1']

comparison = pd.DataFrame(index=columns_to_transform)
comparison['Original Kurtosis'] = df[columns_to_transform].kurtosis().values
comparison['Transformed Kurtosis'] = df[[col + '_log' for col in columns_to_transform]].kurtosis().values

print(comparison)

KeyError: "None of [Index(['lag_52_log', 'sales_roll_52_log', 'sales_diff_1_log'], dtype='object')] are in the [columns]"

In [ ]:
correlation_matrix = df.corr(numeric_only=True)
correlation_matrix['weekly_sales'].sort_values(ascending=False)

weekly_sales           1.000000
avg_sales_per_store    0.983194
lag_1                  0.935316
lag_2                  0.895430
sales_roll_4           0.844075
lag_4                  0.835336
sales_roll_13          0.624540
lag_13                 0.617345
cumulative_sales       0.506808
sales_roll_26          0.455408
lag_26                 0.447603
sales_diff_4           0.101433
promo_last_week        0.029125
fuel_price             0.027651
day                    0.023154
month                  0.004993
is_holiday             0.002970
year                   0.001727
holiday_flag           0.000557
promo_next_week       -0.001121
lag_52                -0.002256
sales_roll_52         -0.002259
lag_52_log            -0.002504
sales_roll_52_log     -0.002506
is_weekend            -0.010025
weekday               -0.024490
temperature           -0.034620
cpi                   -0.077785
unemployment          -0.100545
store                 -0.343343
store_encoded         -0.343343
sales_diff_1                NaN
sales_diff_1_log            NaN
Name: weekly_sales, dtype: float64

In [ ]:
from scipy.stats import zscore
import numpy as np
import pandas as pd

# Drop unwanted columns safely
drop_cols = [col for col in ['store', 'dept'] if col in df.columns]

# Select numeric features excluding dropped ones
df_z = df.select_dtypes(include='number').drop(columns=drop_cols)

# Calculate Z-scores
z_scores = np.abs(zscore(df_z))

# Count outliers (Z > 3) and convert to Series with column names
outliers = pd.Series((z_scores > 3).sum(axis=0), index=df_z.columns).sort_values(ascending=False)

# Display
print(outliers)

lag_52_log             225
sales_roll_52          225
lag_52                 225
sales_roll_52_log      225
is_holiday             180
promo_next_week        180
promo_last_week        180
sales_diff_4            50
cumulative_sales        31
unemployment             6
lag_26                   3
weekly_sales             1
temperature              1
cpi                      0
holiday_flag             0
lag_13                   0
lag_4                    0
lag_2                    0
lag_1                    0
weekday                  0
day                      0
month                    0
year                     0
fuel_price               0
sales_roll_26            0
sales_roll_4             0
sales_roll_13            0
sales_diff_1             0
avg_sales_per_store      0
store_encoded            0
sales_diff_1_log         0
dtype: int64

In [ ]:
sales = df['weekly_sales']
print(f"Mean: {sales.mean():,.2f}")
print(f"Median: {sales.median():,.2f}")
print(f"Std Dev: {sales.std():,.2f}")
print(f"Min: {sales.min():,.2f}")
print(f"Max: {sales.max():,.2f}")
print(f"IQR: {sales.quantile(0.75) - sales.quantile(0.25):,.2f}")

Mean: 1,059,871.95
Median: 981,345.20
Std Dev: 557,383.10
Min: 209,986.25
Max: 2,752,122.08
IQR: 880,663.81

In [ ]:
df.groupby('store')['weekly_sales'].agg(['mean', 'median', 'std', 'max']).sort_values(by='mean', ascending=False)

               mean      median            std         max
store
20     2.169370e+06  2143126.59  167719.243678  2752122.08
4      2.088557e+06  2102530.17  153324.594500  2508955.24
14     2.075189e+06  2078417.47  224425.651713  2623469.95
13     1.998168e+06  1995994.51  139551.509961  2462779.06
2      1.951955e+06  1933756.21  122384.041588  2378726.55
10     1.905260e+06  1870720.73  178732.213234  2429310.90
27     1.782782e+06  1758437.96  180950.058463  2139733.68
1      1.601845e+06  1603955.12   89168.470342  1899676.88
6      1.588922e+06  1569304.40  131430.550525  1903385.14
19     1.468692e+06  1462731.93  107915.816448  1799070.98
39     1.435258e+06  1431910.98  139820.503036  1781528.77
28     1.434570e+06  1447916.29  121327.394244  1723736.91
31     1.399383e+06  1392938.06   64287.153758  1556798.94
24     1.395030e+06  1403460.87  115916.474391  1665502.55
23     1.392810e+06  1408082.96  157337.342275  1872365.99
11     1.372474e+06  1361595.33   97161.332218  1646655.94
41     1.266986e+06  1244956.91  119210.160121  1548661.45
32     1.152726e+06  1149234.96   72321.850530  1415746.91
18     1.096185e+06  1087051.26  126826.928939  1416168.98
26     1.037307e+06  1037549.71   69717.793290  1180470.80
22     1.036432e+06  1010326.14   93034.999633  1367202.84
12     1.017966e+06  1011822.30   74937.881606  1199330.85
40     1.004469e+06  1000582.06   72189.188091  1182901.56
34     9.659634e+05   964356.74   44032.118732  1091020.37
35     9.252588e+05   873415.01  165835.457210  1282378.71
8      9.231508e+05   921161.20   54147.024863  1069061.63
17     9.008318e+05   876902.87  108633.443772  1255633.29
45     7.858437e+05   770487.37   65241.384231  1002364.34
21     7.343721e+05   735796.38   63735.721423   943891.64
25     7.029491e+05   696421.72   75771.497838   964729.18
43     6.435285e+05   643041.71   35475.329070   722120.04
15     6.228744e+05   615121.78   64852.266194   847294.04
42     5.846553e+05   588448.21   44519.812725   674919.45
7      5.673988e+05   558963.83   83806.432089   805642.61
9      5.524182e+05   545251.10   40301.903222   677885.99
29     5.404586e+05   531600.62   48816.201228   713834.74
37     5.239235e+05   524483.65   20118.577869   583835.18
16     5.153451e+05   511059.95   61395.112268   641763.53
30     4.412639e+05   438789.52   23396.841451   497374.57
3      4.131402e+05   409981.25   35491.942845   503232.13
38     4.044115e+05   396826.06   45779.309967   499267.66
36     3.797818e+05   380188.69   60419.476720   489372.02
5      3.244423e+05   323798.00   24701.810803   402985.70
44     3.025489e+05   298080.45   22276.665104   358461.58
33     2.673390e+05   270373.05   25277.785922   326870.13

In [ ]:
df['Month'] = df['date'].dt.month
df.groupby('Month')['weekly_sales'].agg(['mean', 'median', 'std'])

               mean       median            std
Month
1      9.747912e+05   922035.270  488807.556231
2      1.065451e+06  1000864.640  572787.503892
3      1.032394e+06   961748.825  541774.214629
4      1.069502e+06   985229.810  572958.657342
5      1.052307e+06   995590.110  549893.917890
6      1.082925e+06  1005388.665  561250.206908
7      1.082257e+06  1017050.650  559861.681947
8      1.054931e+06   973250.410  545630.198569
9      1.036883e+06   964356.740  536508.740332
10     1.014443e+06   948977.500  526498.193244
11     1.050203e+06   971742.660  555888.401105
12     1.169597e+06  1070458.135  638580.371046

In [ ]:
df.groupby('holiday_flag')['weekly_sales'].agg(['mean', 'median', 'std'])

                      mean      median            std
holiday_flag
0             1.059765e+06   977070.62  557546.146576
1             1.060778e+06  1002110.01  557027.566000

In [ ]:
df['weekly_sales'].quantile([0.01, 0.25, 0.5, 0.75, 0.99])

0.01    2.650018e+05
0.25    5.700695e+05
0.50    9.813452e+05
0.75    1.450733e+06
0.99    2.300119e+06
Name: weekly_sales, dtype: float64

In [48]:
!pip install statsmodels

from statsmodels.stats.outliers_influence import variance_inflation_factor
import pandas as pd

# Prepare input features (excluding target)
X = df.select_dtypes(include='number').drop(columns=['weekly_sales']).dropna()

# Compute VIF
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

# Sort by VIF
vif_data = vif_data.sort_values(by='VIF', ascending=False)
print(vif_data)

Collecting statsmodels
  Using cached statsmodels-0.14.4-cp313-cp313-win_amd64.whl.metadata (9.5 kB)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\sajja\downloads\walmart_sales\venv\lib\site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\sajja\downloads\walmart_sales\venv\lib\site-packages (from statsmodels) (1.15.2)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\sajja\downloads\walmart_sales\venv\lib\site-packages (from statsmodels) (2.2.3)
Collecting patsy>=0.5.6 (from statsmodels)
  Using cached patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\sajja\downloads\walmart_sales\venv\lib\site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sajja\downloads\walmart_sales\venv\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sajja\downloads\walmart_sales\venv\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sajja\downloads\walmart_sales\venv\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\sajja\downloads\walmart_sales\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)
Using cached statsmodels-0.14.4-cp313-cp313-win_amd64.whl (9.8 MB)
Using cached patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-1.0.1 statsmodels-0.14.4
                feature           VIF
0                 store  4.333676e+10
27        store_encoded  4.054229e+10
16               lag_52  1.605556e+05
20        sales_roll_52  1.605469e+05
17         sales_roll_4  2.530101e+02
13                lag_4  2.112353e+02
19        sales_roll_26  1.058925e+02
15               lag_26  9.303551e+01
18        sales_roll_13  8.125999e+01
14               lag_13  7.276917e+01
21     cumulative_sales  2.370556e+01
12                lag_2  2.324660e+01
11                lag_1  1.995238e+01
24  avg_sales_per_store  1.334609e+01
6                  year  9.422939e+00
3            fuel_price  5.459952e+00
23         sales_diff_4  3.532312e+00
22         sales_diff_1  2.643518e+00
8                   day  2.333733e+00
9               weekday  1.695363e+00
7                 month  1.693692e+00
2           temperature  1.680520e+00
1          holiday_flag  1.649148e+00
4                   cpi  1.564453e+00
10           is_holiday  1.393658e+00
5          unemployment  1.338066e+00
25      promo_last_week  1.315441e+00
26      promo_next_week  1.141391e+00

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip